.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}
.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */

.heading {
  color: #326a9d;
  font-size: 30px;
  font-weight: 800;
}

.description {
  color: #64748b;
  font-size: 10px;
  font-weight: 500;
}

.show-more-button {
  color: #326a9d;
  font-size: 12px;
  background-color: transparent;
  font-weight: 700;
  border: solid 1px #326a9d;
  border-radius: 5px;
  padding: 5px;
}

.banner-card-item {
  border-radius: 10px;
  border: solid 1px #cbced2;
  margin-bottom: 10px;
  padding: 10px;
  width: 80%;
}

@media screen and (max-width: 991px) {
  .card-1 {
    background-image: none;
  }
}

.text-content {
  padding: 10px;
}

@media screen and(min-width:992px) {
  .description {
    font-size: 10px;
  }
  .heading {
    font-size: 50px;
  }
}
